---
title: Django and React Articles
description: <b>How to build SaaS application with Django and React from scratch</b> </br> Contact us for any questions by filling a <a href="https://forms.gle/rgAG9gkhUEH2wUVt5" target="_blank">form</a> or <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#97;&#97;&#115;&#105;&#116;&#105;&#118;&#101;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">email</a>.
---

<div class="text-container">
	
	<ul class="blog-posts">
		{% include list-posts.html posts=paginator.posts %}
	</ul>

	{% if paginator.total_pages > 1 %}
		<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{% include relative-src.html src=paginator.previous_page_path %}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{% include relative-src.html src=paginator.next_page_path %}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</div>
