{% if include.post.categories contains "Boilerplate" %}
<p>
	<b>Boilerplate Tutorial Articles:</b><br>
	{% if include.post.url == "/tutorial/django-react-boilerplate-saas/" %}
	<b style="color: #ff4b5c">
		{% endif %}
		<a href="/tutorial/django-react-boilerplate-saas/">1. Starting SaaS with Django and React</a>
		{% if include.post.url == "/tutorial/django-react-boilerplate-saas/" %}
		(&larrhk; you are here!)
	</b>
	{% endif %}
	<br>

	{% if include.post.url == "/tutorial/react-routing-components-signup-login/" %}
	<b style="color: #ff4b5c">
		{% endif %}
		<a href="/tutorial/react-routing-components-signup-login/">2. React Routing and Components for Signup and
			Login</a>
		{% if include.post.url == "/tutorial/react-routing-components-signup-login/" %}
		(&larrhk; you are here!)
	</b>
	{% endif %}
	<br>

	{% if include.post.url == "/tutorial/token-based-authentication-django-rest-framework-djoser/" %}
	<b style="color: #ff4b5c">
		{% endif %}
		<a href="/tutorial/token-based-authentication-django-rest-framework-djoser/">3. Token Based Authentication with
			Django Rest Framework and Djoser</a>
		{% if include.post.url == "/tutorial/token-based-authentication-django-rest-framework-djoser/" %}
		(&larrhk; you are here!)
	</b>
	{% endif %}
	<br>

	{% if include.post.url == "/tutorial/react-token-based-authentication-django/" %}
	<b style="color: #ff4b5c">
		{% endif %}
		<a href="/tutorial/react-token-based-authentication-django/">4. React Token Based Authentication to Django REST
			API Backend</a>

		{% if include.post.url == "/tutorial/react-token-based-authentication-django/" %}
		(&larrhk; you are here!)
	</b>
	{% endif %}
	<br>
	{% if include.post.url == "/tutorial/react-authenticated-component/" %}
	<b style="color: #ff4b5c">
		{% endif %}
		<a href="/tutorial/react-authenticated-component/">5. React Authenticated Component</a>
		{% if include.post.url == "/tutorial/react-authenticated-component/" %}
		(&larrhk; you are here!)
	</b>
	{% endif %}
	<br>

	{% if include.post.url == "/tutorial/crud-django-rest-framework-react/" %}
	<b style="color: #ff4b5c">
		{% endif %}
		<a href="/tutorial/crud-django-rest-framework-react/">6. CRUD in Django Rest Framework and React</a>
		{% if include.post.url == "/tutorial/crud-django-rest-framework-react/" %}
		(&larrhk; you are here!)
	</b>
	{% endif %}
	<br>

	{% if include.post.url == "/tutorial/docker-compose-django-react-nginx-let-s-encrypt/" %}
	<b style="color: #ff4b5c">
		{% endif %}
		<a href="/tutorial/docker-compose-django-react-nginx-let-s-encrypt/">7. Docker-Compose for Django and React with
			Nginx reverse-proxy and Let's encrypt certificate</a>
		{% if include.post.url == "/tutorial/docker-compose-django-react-nginx-let-s-encrypt/" %}
		(&larrhk; you are here!)
	</b>
	{% endif %}
</p>
<hr>
{% endif %}