html {
	background: #ffffff;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "ubuntu", "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
	font-size: 1.1em;
}

a {
	color: $third-brand-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
}

.emoji {
	width: 20px;
	height: 20px;
}

h1 strong, h2 strong {
	font-weight: 700;
}

h1 {
	font-weight: 500;
	font-size: 2.3em;
	margin: 0;
	color: $brand-color;// rgba(0,0,0,.8);
}

h2 {
	font-weight: 500;
	font-size: 1.8em;
	//margin: 0 0 30px 0;
	color: $brand-color;// rgba(0,0,0,.8);

}

h3 {
	margin: 20px 0 10px 0;
	color: rgba(0,0,0,.8);
}


p, address {
	color: rgba(0,0,0,.8);// #171717;// rgb(42, 42, 42);
	margin-bottom: 20px;
	//font-weight: 300;
	line-height: 1.6em;
}

ul {
	color: rgba(0,0,0,.8); //#171717;
	//font-size: 1.1em;
	line-height: 1.6em;
	//font-weight: 300;
}

hr {
	margin-top: 2rem;
    margin-bottom: 2.5rem;
    border-width: 0;
	border-top: 1px solid #E1E1E1;
}