.the-logo {
  color: $brand-color;
  font-family: ubuntu, Times New Roman, Times, serif;
  font-size: 32px;
  font-weight: bold;
}

.nav-open nav {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  padding: 10px 0;
  a {
    display: block;
  }

  @media #{$mid-point} {
    border: 0;
    padding: 0 20px;

    a {
      display: inline;
    }
  }
}

nav {
  
  font-size: 0.8em;
  width: 100%;

  @media #{$mid-point} {
    text-align: right;
    position: absolute;
    top: 13px;
    right: 0;
    padding: 0 20px;
  }

  a {
    margin: 0 3px;
    font-size: 1.3em;
    font-weight: 500;
    color: $brand-color;
    transition: 0.2s ease-in-out;
    display: none;

    @media #{$mid-point} {
      display: inline;
      padding: 10px;
    }

    &.nav-toggle {
      display: inline;
      position: absolute;
      right: 10px;
      top: 0px;
      font-size: 1.9em;
      border: 0;

      @media #{$mid-point} {
        display: none;
      }

      &:hover {
        border: 0;
      }
    }
  }

  a:hover {
    border-bottom: 1px solid $secondary-brand-color;
    color: $secondary-brand-color;
  }

  @media #{$mid-point} {
    a.highlight {
      border: 1px #ccc solid;
      border-radius: 5px;

      &:hover {
        background: #fff;
        color: $secondary-brand-color;
      }
    }
  }

  //a.active {
    //color: $third-brand-color;
  //}
}
