$brand-color: #056674; // #11cb11;
$secondary-brand-color: #ff4b5c;// #66bfbf;// #0da50d;
$third-brand-color: #66bfbf;// #0da50d;
$fourth-brand-color: #e0ece4;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
